<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Static Json</title>
  <style>
      pre {
        font-family: "source code pro", consolas, courier;
        font-size: 120%;
      }
  </style>


</head>
<body>

<pre>{
  "resultRowCount": 12,
  "milliseconds": "91",
  "list": [
    {
      "label": "Smith Hospitals Amherst and Associates",
      "value": "27000"
    },
    {
      "label": "Snapper Beef Systems Lines Patagonia",
      "value": "41100"
    },
    {
      "label": "Soft Consolidated Va Arizona School",
      "value": "55200"
    },
    {
      "label": "Software County Schools Inc Company",
      "value": "5900"
    },
    {
      "label": "Software Inc. Inc Co Hq",
      "value": "20000"
    },
    {
      "label": "Software Merchant Betts Associates Of",
      "value": "97500"
    },
    {
      "label": "Software Police Systems Company Sons",
      "value": "69300"
    },
    {
      "label": "Software Trol Goochland M Property",
      "value": "83400"
    },
    {
      "label": "Solomon Goldline Society Systems/city Or",
      "value": "34100"
    },
    {
      "label": "Sorema Food Hospital Alcorn Trucking",
      "value": "48200"
    },
    {
      "label": "South Life School, LLC",
      "value": "62300"
    },
    {
      "label": "Southeastern Care Distributing Group Ser",
      "value": "76400"
    }
  ],
  "startingKey": [],
  "endingKey": []
}</pre>
  
</body>
</html>

