<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Static Json</title>
  <style>
      pre {
        font-family: "source code pro", consolas, courier;
        font-size: 120%;
      }
  </style>


</head>
<body>

<pre>{
  "resultRowCount": 26,
  "totalRowCount": 1001,
  "rowCountPhrase": "26 of ~1,001",
  "milliseconds": "3,006",
  "list": [
    {
      "CMCUSTNO": "11200",
      "CMNAME": "Marley Services Cooperative Blue Tech",
      "CMADDR1": "223 North 390 #202 Box 269",
      "CMCITY": "Anderson",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "5400",
      "CMNAME": "Red Laboratories Inc Computer Inc",
      "CMADDR1": "3501 O Street Cir #841 100",
      "CMCITY": "Crawfordsville",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "10300",
      "CMNAME": "Howard Corporation Consulting Assoc Inc",
      "CMADDR1": "23845 Clinton Box Parkway Suite 549",
      "CMCITY": "Crawfordsville",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "40400",
      "CMNAME": "Port Inc Systems Agents Associates",
      "CMADDR1": "20 South Ctr Street K 108",
      "CMCITY": "Elkhart",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "94400",
      "CMNAME": "Garnet Mfg Tribune America Telco",
      "CMADDR1": "Rt 6th Park Pkwy P 100",
      "CMCITY": "Evansville",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "23900",
      "CMNAME": "Futaba D Usa Co Inc",
      "CMADDR1": "205 New 3107 # Computer Pk",
      "CMCITY": "Fort Wayne",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "28400",
      "CMNAME": "Amcel J Positions R Co",
      "CMADDR1": "11100 Thomasville Avenue Po / Hll",
      "CMCITY": "Fort Wayne",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "57400",
      "CMNAME": "Butler Corporation Cumberland Columbus H",
      "CMADDR1": "Hwy Brighton Ave Springs 380 268",
      "CMCITY": "Fort Wayne",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "11900",
      "CMNAME": "Omnitron Riverboat Superior Transport In",
      "CMADDR1": "1200 S Lake Highland 45.7 900",
      "CMCITY": "Ft Wayne",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "41800",
      "CMNAME": "Universal & Systems Chevrotiere Agricult",
      "CMADDR1": "30 S Washington 4023 125 Pobox",
      "CMCITY": "Greensburg",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "80400",
      "CMNAME": "Giumarra Performance Probation Foundatio",
      "CMADDR1": "15555 O Charlotte Dr Br #608",
      "CMCITY": "Greensburg",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "89000",
      "CMNAME": "Mobile Distribution Shops Assoc General",
      "CMADDR1": "1120 Kaiser St Dr Industrial Box",
      "CMCITY": "Griffith",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "77900",
      "CMNAME": "Archdiocese Paper Denver Dist. Dept",
      "CMADDR1": "400 Nordoff Road Dr. #5f 3006",
      "CMCITY": "Hobert",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "2400",
      "CMNAME": "Edwin Software Care Supply Forge",
      "CMADDR1": "728 9 Road South Way 305",
      "CMCITY": "Indianapolis",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "56000",
      "CMNAME": "W Spark N Labs Company",
      "CMADDR1": "1111 Bedford Prospect Ste Br Rd",
      "CMCITY": "Indianapolis",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "72700",
      "CMNAME": "Dixie State Parts Co Market",
      "CMADDR1": "P 9 429 St 702 &",
      "CMCITY": "Indianapolis",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "80100",
      "CMNAME": "Fieldcrest Citrus Carpet - Inc",
      "CMADDR1": "4201 Redding Rd. St Avenue 281",
      "CMCITY": "Lafayette",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "36100",
      "CMNAME": "Bogen Of Co Transit Aluma",
      "CMADDR1": "Berwind Rock St Suite 702 500",
      "CMCITY": "Mishawaka",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "35900",
      "CMNAME": "Bartel Workshop Ltd I Transportation",
      "CMADDR1": "900 Brickell 22 Blvd Ste O",
      "CMCITY": "Muncie",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "1300",
      "CMNAME": "Central Packaging/bba Tn Liabilit Bnk",
      "CMADDR1": "801 Galli Hickory St. #10 200",
      "CMCITY": "Munster",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "62700",
      "CMNAME": "Toko Gemini Inc Inc Co",
      "CMADDR1": "Po Ross Box Colinas Bld Drawer",
      "CMCITY": "Portland",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "83900",
      "CMNAME": "Transportation & Bank And Banking",
      "CMADDR1": "66 State Main 308 W Floor",
      "CMCITY": "South Bend",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "11400",
      "CMNAME": "Mid-america Steel Roseburg Village Ltd",
      "CMADDR1": "1320 State Creek The #150 Suite",
      "CMCITY": "Terra Haute",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "85700",
      "CMNAME": "Canadian Shipping Inc Inc Co",
      "CMADDR1": "7300 Dornoch 488 Blvd 204 #190",
      "CMCITY": "Terre Haute",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "1200",
      "CMNAME": "Cardoni Corporation The Usa Inc",
      "CMADDR1": "8235 Complexe Brook 66 Creek 69",
      "CMCITY": "Westfield",
      "CMSTATE": "IN"
    },
    {
      "CMCUSTNO": "61700",
      "CMNAME": "R Nippon Co-op Company Inc",
      "CMADDR1": "823 So. 3rd 1762 Wy Po",
      "CMCITY": "Westville",
      "CMSTATE": "IN"
    }
  ],
  "startingKey": [],
  "endingKey": []
}</pre>
  
</body>
</html>
